*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    font-family: Arial, Helvetica, sans-serif;
} */

img {
    width: 100%;
    height: 100%;
}

#root{
    display: grid;
    grid-template-columns: 
    [fullw-start]1.5rem 
    [content-start] 1fr[content-end] 
    1.5rem[fullw-end];
    max-width: 100%;  /* Prevent the grid from overflowing horizontally */
    overflow-x: hidden;
}

@media screen and (width >= 37.5rem){
    #root{
        grid-template-columns: 
        [fullw-start]1fr 
        [content-start] repeat(2, 18.5rem) [content-end] 
         1fr[fullw-end];
    }
    
}

@media screen and (width >= 74rem){
    #root{
        grid-template-columns: 
        [fullw-start]1fr 
        [content-start] repeat(4, 18.5rem) [content-end] 
         1fr[fullw-end];
    }
}

 header, main, footer{
    grid-column: fullw;
    display: grid;
    grid-template-columns: subgrid;
}

header > *,
main > *,
footer > *{
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;
}

a{
    text-decoration: none;
    color: black;
}

.full-width{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: fullw;
}

.columns{
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;
    gap: 1.5rem;
}

.no-columns{
    grid-column: content;
    display: block;
}

.half{
    grid-column: span 2;
    margin-inline-end: 2rem;
}

.section{
    padding-block: 4rem;
} 

.margin-top{
    margin-top: 2rem;
}

/*------- cards ------*/
.card{
    width: 18rem;
    height: 22rem;
    background-color: #CEF9FF;
    margin: 0.5rem;
}

.card__img{
    width: 18rem;
    height: 18rem;
}

.card__nav{
    margin-inline: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.card__nav--icon{
    width: 1rem;
    height: 1rem;
}

/*-------text-center---------*/
.text-center{
    text-align: center;
}

/*-------info site ---------*/

.info__site--img{
    width: 44.5rem;
    height: 52rem;
    margin-block: 1rem;
    position: relative;
}

.info__site--favorite{
   display: flex;
   gap: 0.25rem;
   position: absolute;
   top: 5%;
   right: 52%;
   align-items: center;
}

.info__site--icon{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem ;
}

.info__site--text{
    font-size: large;

}

/*-------liked destinations---------*/

.card__nav--icon.liked {
    filter: brightness(0) saturate(100%) invert(39%) sepia(95%) saturate(450%) hue-rotate(-50deg);
}

.card__nav--icon {
    cursor: pointer;
    transition: filter 0.3s;
}